<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    User Create
    * 아이디
    <input type="text" class="input_required" id="create_user_username" placeholder="아이디를 입력하세요"/>
    * 비밀번호
    <input type="password" class="input_required" id="create_user_password" placeholder="비밀번호를 입력하세요"/>
    이름
    <input type="text" id="create_user_name"/>
    전화번호
    <input type="text" id="create_user_phone"/>

    <button onclick="create_user()">저장</button>

    <script>
        function create_user() {
            let input_required = $(".input_required");
            for (let each of input_required) {
                let tempValue = $.trim($(each).val());
                if (tempValue == null || tempValue === "") {
                    alert($(each).attr("placeholer"));
                    $(each).focus();
                    return false;
                }
            }

            $.ajax({
                url:"/api/user",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    username: $("#create_user_username").val(),
                    password: $("#create_user_password").val(),
                    name: $("#create_user_name").val(),
                    phone: $("#create_user_phone").val()
                }),
                cache: false,
                success: (obj_data, status, xhr)=>{
                    alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr)=>{
                    alert("ERROR!!!!");
                    alert(JSON.stringify(obj_data));
                }
            })
        }
    </script>
</body>
</html>