<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    Create
    <div id="div_id" class="div-abcde">글 입력 테스트</div>
    아이디
    <input type="number" id="create_user_username"/>
    비밀번호
    <input type="text" id="create_user_password"/>
    이름
    <input type="text" id="create_user_name"/>
    전화번호
    <input type="text" id="create_user_phone"/>

    <button onclick="create_user()">저장</button>
    <button onclick="change_html()">글 바꾸기</button>

    <script>
        function change_html() {
            let create_board_title = $("#create_board_title").val();
            $("#div_id").html(create_board_title);
        }

        function create_user() {
            $.ajax({
                url:"/api/user/create",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    username: $("#create_user_username").val(),
                    password: $("#create_user_password").val(),
                    name: $("#create_user_name").val(),
                    phone: $("#create_user_phone").val()
                }),
                cache: false,
                success: (obj_data, status, xhr)=>{
                    alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr)=>{
                    alert("ERROR!!!!");
                    alert(JSON.stringify(obj_data));
                }
            })
        }
    </script>
</body>
</html>