<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <style>
        .outer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .inner-center {
            width: 45vw;
            display: flex;
            justify-content: center;
            margin-bottom: 3vh;
            gap: 2vw;
        }
    </style>
</head>
<body>
    <div class="outer">
        <h2 style="margin-bottom: 3vh">
            User Detail
        </h2>

        <div class="inner-center">
            Id
            <input type="text" id="detail_id" disabled/>
            Username
            <input type="text" id="detail_username" disabled/>
        </div>

        <div class="inner-center">
            Name
            <input type="text" id="detail_name"/>
            Phone
            <input type="text" id="detail_phone"/>
        </div>

        <div class="inner-center">
            Photo

            <input type="file" id="input_file" onchange="readURLFile(this)"/>
            <button onclick="imgfile_upload()">
                프로필 사진 업로드
            </button>

            <img id="img_test" alt="test" src=""/>
        </div>

        <div>
            <button onclick="update_user()">
                edit
            </button>
            <button onclick="delete_user()">
                delete
            </button>
        </div>
    </div>

    <script>
        // url에서 id값 추출
        let temp_url = window.location.href;
        let split_temp_url = temp_url.split('/');
        let final_id = split_temp_url[split_temp_url.length - 1];
        let split_q = final_id.split("?");
        if (split_q.length > 0) {
            final_id = split_q[0];
        }

        // document가 준비되면 detail_user() 실행
        $(document).ready(function () {
            detail_user();
        })

        function update_user() {
            alert($("#detail_phone").val());
            $.ajax({
                url: "/api/user",
                type: "PUT",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    id: final_id,
                    name: $("#detail_name").val(),
                    phone: $("#detail_phone").val()
                }),
                cache: false,
                success: (obj_data, status, xhr) => {
                    alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr) => {
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }

        function detail_user() {
            $.ajax({
                url: "/api/user/detail",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: {
                    id: final_id
                },
                cache: false,
                success: (obj_data, status, xhr) => {
                    $("#detail_id").val(obj_data["id"]);
                    $("#detail_username").val(obj_data["username"]);
                    $("#detail_name").val(obj_data["name"]);
                    $("#detail_phone").val(obj_data["phone"]);
                },
                error: (obj_data, status, xhr) => {
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }

        function delete_user() {
            $.ajax({
                url: "/api/user",
                type: "DELETE",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    id: final_id
                }),
                cache: false,
                success: (obj_data, status, xhr) => {
                    alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr) => {
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }

        /**/

        // Image File Upload
        let tempFile = null;

        function readURLFile(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.readAsDataURL(input.files[0]);
                reader.onload = function (e) {
                    tempFile = input.files[0];
                }
            }
        }

        function imgfile_upload() {
            let fileData = new FormData();
            fileData.append("file", tempFile);

            $.ajax({
                url: "/api/upload",
                type: "POST",
                data: fileData,
                cache : false,
                contentType : false,
                processData : false,
                success: (data, status, xhr) => {
                    alert(JSON.stringify(data));
                    $("#img_test").attr("src", "/image/" + data);
                },
                error: (data) => {
                    alert("error");
                },
            });
        }
    </script>
</body>
</html>